{
    "extends": "eslint:recommended",
    "env": {
    	"commonjs": true,
    	"browser": true,
    	"es6": true
    },
    "ecmaFeatures": {
        "modules": true,
        "arrowFunctions": true,
        "templateStrings": true,
        "destructuring": true,
        "blockBindings": true,
        "defaultParams": true,
        "classes": true,
        "objectLiteralComputedProperties": true,
        "objectLiteralDuplicateProperties": true,
        "objectLiteralShorthandMethods": true,
        "objectLiteralShorthandProperties": true,
        "restParams": true,
        "spread": true
    },
    "rules": {
        "semi": 2
    }
}