.app {

	.question-image {
		max-height: 500px;
	}

	.question {
		
	}

	.answer-correct-status {
		&.good {
			color: green;
		}

		&.bad {
			color: red;
		}
	}

	.images {
		width: 600px;
		height: 300px;
	}

	.tabs {


		& > div {
			cursor: pointer;
			display: inline-block;
			padding: 10px;

			&:hover, &.active {
				background: rgba(0,0,0,0.05);
			}
		}
	}

	.drop-target {
		box-sizing: border-box;
		margin: 1em 0;
		border: 1px solid #ccc;
		padding: 1em;
		width: 600px;
	}

	.image-list > img {
		max-width: 400px;
		margin: 1em;
	}
}